body, div, ul, li ,p ,a ,span, form{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}


#header{ width: 100%; height: 50px; font-size: 18px; background-color: #2c343c;
    box-shadow: 0 0 5px #000;  }

#header_title{ width: 300px; height: 50px; display: block; line-height: 50px; align-content: center;
    text-align: center; font-size: 24px; text-decoration: none; color: whitesmoke; cursor: pointer; float: left}

#header_title:hover{text-decoration: none}

#header #username{font-size: 15px; height: 50px; line-height: 50px; text-align: center; margin-right: 20px;
    display: block;  text-decoration: none; cursor: pointer; color: whitesmoke; float: right}




#navigation{width: 14%; display: block;float: left; padding: 20px 10px 10px; font-size: 18px}

#navigation ul li{padding: 10px; border-bottom: dotted 1px #566778;}

#navigation ul li a{color: black; text-decoration: none; cursor: pointer}

#navigation ul li a:hover{text-decoration: none; color: #2377b9}




#content {width: 86%; display: block; float: right; padding: 30px 20px 20px; height: 750px;
    overflow: scroll; position: relative}

#content .table th, .table td {text-align: center; vertical-align: middle!important;}



#progress_div {position: absolute; width: 100%; height: 100%; left: 0; top: 0; display: none}

#progress_div div{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: black;
    opacity: 0.3;}

#progress_div img{margin: auto; position: absolute; left: 48%; top:300px; width: 4%}




#status_div {position: absolute; width: 100%; height: 100%; left: 0; top: 0; display: none}

#status_bg_div{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: black;
    opacity: 0.3;}

#message_div {position: absolute; top: 300px; left: 45%; border: 2px solid purple; padding: 0 10px;
    background-color: white; box-shadow: 0 0 5px #000}

#status_message {width: 100%; text-align: center; font-size: 25px; color: red}

.tdRows8 { font-size: 8px}
.tdRows10 { font-size: 10px}
.tdRows12 { font-size: 12px}